@using BooksStore.Core.Entities

@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books List</h1>

<div class="container shadow row bg-light p-2 border border-primary rounded">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 mt-1 mb-1">
            <div class="card p-2" style="width: 18rem; background: aliceblue;">
                <img class="card-img-top" src="@item.Picture" alt="@item.Title">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <h6>@item.Author</h6>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer align-middle">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View Book</a> |
                    <a asp-controller="Checkout" asp-action="Purchase" asp-route-id="@item.Id" class="btn btn-success">Buy $ @item.Price</a>
                </div>
            </div>
        </div>
    }
</div>

@*<table class="table table-striped shadow table-hover table-bordered border-primary">
    <thead>
    <tr class="text-primary text-center">
    <th>
    @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Author)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Picture)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Price)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td class="text-center">
    <img class="rounded-circle" src="@item.Picture" title="@item.Title" />
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td class="text-center">
    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View Book</a> |
    <a asp-controller="Checkout" asp-action="Purchase" asp-route-id="@item.Id" class="btn btn-success">Purchase $ @item.Price</a>
    </td>
    </tr>
    }
    </tbody>
    </table>
*@

@*@if (@Model.Any())
    {
    <script>
    $("body").removeClass("submit-progress-bg");
    $(".submit-progress").addClass("hidden");
    </script>
    }
*@